$green: #56B280;
$grey: rgb(204, 204, 204);
$transparent-green: rgba(86, 178, 128, 0.2);
$black: rgba(39, 39, 39, 1);

:export {
  green: $green;
  grey: $grey;
  transparentGreen: $transparent-green;
  black: $black;
}